[user]
	name = warbaque
	email = klaus.helenius@gmail.com
	signingkey = F009530205B512AE
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[pull]
	ff = only
[core]
	editor = vim
	eol = native
	autocrlf = input
[color]
	ui = true
[init]
	defaultBranch = main
[alias]
	patch = !git --no-pager diff --no-color
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFXS
[include]
	path = ~/.ssh/gitconfig
